{% macro header() -%}
<meta charset="utf-8" />
<meta name="description" content="Know your eligible colleges for free with our latest tool featuring 2022 official counselling data.">
<meta name="keywords" content="counselling, college, B.Tech, IIT, NIT, IIIT, GFTI">
<meta name="author" content="Pritam Das">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#712cf9" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{url_for('static', filename='favicon_io/apple-touch-icon.png')}}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{url_for('static', filename='favicon_io/favicon-32x32.png')}}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{url_for('static', filename='favicon_io/favicon-16x16.png')}}"
/>
<link rel="manifest" href="{{url_for('static', filename='favicon_io/site.webmanifest')}}" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" />
{%- endmacro %} {% macro navbar(active=0, user=None) -%}
<nav class="navbar navbar-expand-lg" style="background-color: var(--nav-color)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="{{url_for('static', filename='collegescrape-logo.png')}}"
        alt="CounselScrape"
        width="170"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if active == 1 %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 2 %}active{% endif %}" href="/counsellingsearch/">Counselling Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 3 %}active{% endif %}" href="/collegesearch/">College Search</a>
        </li>

        {% if user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.picture }}" class="rounded-circle" alt="profile image" width="30" height="30">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu opacity-75">
            <li><a class="dropdown-item" href="/account/">Account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout/">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login/">Sign In</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
{%- endmacro %} {% macro footer() -%}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto border-top">
  <div class="d-flex align-items-center">
    <a href="/" class="mx-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img
        src="{{url_for('static', filename='collegescrape-fav.png')}}"
        alt=""
        width="40"
        height="34"
      />
    </a>
    <span class="text-muted">© 2023 COLLEGESCRAPE</span>
  </div>

  <div class="small-footer-text">Made by Pritam Das</div>

  <ul class="nav justify-content-end">
    <li class="nav-item"><a href="/#techused" class="nav-link px-2">Technologies Used</a></li>
    <li class="nav-item"><a href="" data-bs-target="#contactus" data-bs-toggle="modal" class="nav-link px-2">Contact Us</a></li>
    <li class="nav-item"><a href="/#aboutus" class="nav-link px-2">About Us</a></li>
  </ul>
  <div class="modal fade" id="contactus" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact Us</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div id="contactusinfo" class="alert alert-primary d-none" role="alert">
          </div>
          <form id="cscontactus" class="needs-validation" novalidate="">
            <div class="mb-3">
              <label for="cuname" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="cuname" placeholder="e.g. Alan Walker" required>
            </div>
            <div class="mb-3">
              <label for="cuemail" class="form-label">Email</label>
              <input type="email" class="form-control" id="cuemail" placeholder="e.g. someone@example.com" required>
            </div>
            <div class="mb-3">
              <label for="cuname" class="form-label">Subject</label>
              <input type="text" class="form-control" id="cusubject" placeholder="e.g. Issue with nav" required>
            </div>
            <div class="mb-3">
              <label for="cumessage" class="form-label">Message</label>
              <textarea class="form-control" id="cumessage" rows="4" required></textarea>
            </div>
            <button type="submit" class="w-100 btn btn-primary btn-lg">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
{%- endmacro %} {% macro scripts() -%}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"
></script>
<script src="{{url_for('static', filename='js/base.min.js')}}"></script>
{%- endmacro %}
