{% import 'base.html' as base %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CollegeScrape-Counselling Search</title>
    {{ base.header() }}
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='css/counsellingsearch.css')}}" />
  </head>

  <body class="d-flex flex-column">
    <!-- Navbar -->
    {{ base.navbar(2) }}

    <div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert">
      This tool is currently under early access so maximum number of results is capped at 1000 and export option might cause lag in some devices for large data
    </div>

    <div class="container my-3">
      <main>
        <div class="py-4 text-center">
          <h1>Counselling Search</h1>
          <p class="site-info" style="font-size: 0.9rem">
            Welcome to Counselling Search, a powerful college search portal! Currently using data
            from JoSAA, CSAB, and WBJEE Counselling, this tool provides personalized results based
            on your search parameters, making your college search process seamless and efficient.
            Find your dream college now!
          </p>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-8">
            <form class="needs-validation" novalidate="">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="CounsellingName" class="form-label">Counselling</label>
                  <select
                    class="form-select select2-select-single"
                    id="CounsellingName"
                    data-placeholder="Choose a Counselling..."
                    required
                  >
                    <option value=""></option>
                    <option>JoSAA</option>
                    <option>CSAB</option>
                    <option>WBJEE</option>
                  </select>
                  <div class="invalid-feedback">Please select a Counselling</div>
                </div>

                <div class="col-sm-6">
                  <label for="RoundNo" class="form-label">Round No.</label>
                  <select
                    class="form-select select2-select-single stage1"
                    id="RoundNo"
                    data-placeholder="Choose a Round No..."
                    disabled
                    required
                  ></select>
                  <div class="invalid-feedback">Please select a Round No</div>
                </div>

                <div class="col-sm-6">
                  <label for="rank" class="form-label">Rank</label>
                  <input
                    type="number"
                    class="form-control stage2"
                    id="rank"
                    placeholder="e.g. 23543"
                    autocomplete="off"
                    disabled
                  />
                  <div class="invalid-feedback">Please enter a valid rank</div>
                </div>

                <div class="col-sm-6">
                  <label for="rank-buff" class="form-label">Rank Buffer</label>
                  <i
                    role="button"
                    class="bi bi-question-circle ms-1 opacity-75"
                    data-bs-toggle="modal"
                    data-bs-target="#rankbuffinfo"
                  ></i>
                  <input
                    type="number"
                    class="form-control stage2"
                    id="rank-buff"
                    placeholder="e.g. 2354"
                    disabled
                  />
                  <div class="invalid-feedback">Please enter a valid rank buffer</div>
                  <div class="modal fade" id="rankbuffinfo" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Rank Buffer</h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <p>
                            Rank buffer is a part of the search query (filter) which if set return
                            results with closing rank within rank - rank_buffer and rank +
                            rank_buffer. Its intented use is to narrow the scope of the results and
                            is generally used for low ranks (high scorers) to filter out
                            potential unwanted courses or colleges. At high ranks (low scorers) 
                            setting it might cause no results to be shown at all, for obvious
                            reasons.
                          </p>
                          <p>
                            If Rank Buffer is not set then results will have closing rank less than 
                            or equal to the provided rank filter (if provided).
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="inst-type" class="form-label">Institute Types</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="inst-type"
                    data-placeholder="Choose Institute Types..."
                    disabled
                  ></select>
                </div>

                <div class="col-sm-6">
                  <label for="inst-name" class="form-label">Institutes</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="inst-name"
                    data-placeholder="Choose Institutes..."
                    disabled
                  ></select>
                </div>

                <div class="col-sm-6">
                  <label for="apname" class="form-label">Academic Program Names</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="apname"
                    data-placeholder="Choose Academic Program Names..."
                    disabled
                  ></select>
                </div>

                <div class="col-sm-6">
                  <label for="quota" class="form-label">Quota</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="quota"
                    data-placeholder="Choose Quotas..."
                    disabled
                  ></select>
                </div>

                <div class="col-sm-6">
                  <label for="seat-type" class="form-label">Seat Type</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="seat-type"
                    data-placeholder="Choose Seat Types..."
                    disabled
                    multiple
                  ></select>
                </div>

                <div class="col-sm-6">
                  <label for="gender" class="form-label">Gender</label>
                  <select
                    class="form-select select2-select-multiple stage2"
                    id="gender"
                    data-placeholder="Choose Genders..."
                    disabled
                  ></select>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    <div class="container my-3">
      <div id="cmessage" class="alert alert-warning my-3 d-none" role="alert">
      </div>
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
            <tr>
              <th data-field="instt" data-halign="center" data-align="center">Institute Type</th>
              <th data-field="inst" data-halign="center" data-align="center">Institute</th>
              <th data-field="apn" data-halign="center" data-align="center">Academic Program Name</th>
              <th data-field="quota" data-halign="center" data-align="center">Quota</th>
              <th data-field="st" data-halign="center" data-align="center">Seat Type</th>
              <th data-field="gender" data-halign="center" data-align="center">Gender</th>
              <th data-field="or" data-halign="center" data-align="center" data-sortable="true">Opening Rank</th>
              <th data-field="cr" data-halign="center" data-align="center" data-sortable="true">Closing Rank</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    {{ base.footer() }} 
    
    {{ base.scripts() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.27.0/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.27.0/libs/jsPDF/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/print/bootstrap-table-print.min.js"></script>
    <script src="{{url_for('static', filename='js/counsellingsearch.min.js')}}"></script>
  </body>
</html>
